@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro:400,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

a, a:visited {
    text-decoration: unset;
    color: unset;
}
h1, h2, h3 {
  color: #393045;
}

.navbar-logo {
  padding: 0px 20px;
  height: 70px;
}


.navbar-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 1440px;
    height: 70px;
    background-image: linear-gradient(130deg, #FFFFFF 0 40%,
            #FCF0F3 100%);
    z-index: 100;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100vw;
    height: 70px;

}

.name-container {
    position: absolute;
    left:100px;
    top: 0px;
    height: fit-content;
    width: 200px;

    line-height: 70px;
}

.name-container a {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #685F74;
    top: 5px;
    font-size: 40px;
}

.menu-items-list {
    position: absolute;
    left: 300px;
    width: 600px;
}

.menu-item {
    display: inline-block;
    top: 10px;
    height: 70px;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: fit-content;
    padding:20px 30px;

}

#menu-box {
    display: block;
    position: absolute;
    top: 70px;
    width: 1440px;
    height: 0px;
    background-color: #FFFFFF;
    opacity: 0.95;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#menu-box li {

    display: list-item;
    padding: 20px 0;
    font-size: x-large;
    height: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100vw;
    text-transform: uppercase;
    text-align: center;


}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}


.main {
    position: relative;
    display: block;
    top: 0px;
    width: 100%;
    min-height: 650px;
    overflow: visible;
    /* margin-bottom: 70px; */

}



/* SLIDESHOW */


/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    height: 500px;
    box-sizing:border-box;
    overflow: hidden;
  }

  .slideshow-container img {
    height: 500px;
    object-fit: cover;
  }

  /* Hide the images by default */
  .slideshow {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #F3E0EC;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #261D32;
    background-color: rgb(255, 192, 203, 0.8);
    /* font-weight: bold; */
    font-size: x-large;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 4s ease;
  } */

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }




  /* footer */
  .copyright {
      background-color: #E1D5DE;
      position: relative;
      display: block;
      width: 100%;
      bottom: 0;
      font: medium;
      text-align: center;
      margin: 0px, 0px;
      padding:30px 0px;
      padding-bottom: 30px;
  }




  /* articles */
  .article-section {

    padding: 0;
    margin: 0;
    top: 0;
    background-color: #C9BEC6;
    width: 100%;
  }

  .article-container {
    height: auto;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    display: block;
    background-color: white;
    padding: 0% 7.5%;
  }

  .article-container p {
    text-align: left;

  }

  .article-content img {
    padding: 10px;
  }

  .article-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
    margin: 0;
    text-align: left;
    padding: 50px 0px;
    font-weight: 900;
  }

  .article-content {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    line-height: 2em;
    text-align: left;
    padding: 30px 0px;
  }

  .article-content p {
    padding-bottom: 0.5em;
  }

  .article-content a {
    text-decoration: underline;
  }
  .article-content h2 {
    padding-top: 1.5em;
    padding-bottom: 1em;

  }


  .titles-chosen {
     display:block;
     height: auto;
  }


  /* ABOUT */


  .about-pandam {
    width: 60%;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: x-large;
    line-height: 1.5em;
    /* text-align: center; */
    padding: 100px 100px;

  }

  .pandam-container {
    position: relative;
    width: 100%;
    display: block;
    height: fit-content;
    background-color: #E1D5DE;
  }

  .pandam-logo {
    position: absolute;
    top: 120px;
    right: 10%;
    display: inline-block;
    width: 20%;
    padding-bottom: 40px;
    height: auto;
  }


  .team {
    width: 100%;
    text-align: center;

  }

  .team h1 {
    padding: 50px;
    font-size: xx-large;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;

  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: fit-content;
    display: inline-block;
    overflow: scroll;
    padding: 50px 0px;
    margin: 50px;
    position: relative;

  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 0px 16px;
    overflow: scroll;
  }

  .card p, .team-name {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    position: absolute;
  }

  .team-name {
    font-size: 3em;
    width: 80%;
    left: 10%;
    position: absolute;
    top: 40%;
  }

  .card p {
    position: absolute;
    top: 100%;
    width: 80%;
    left: 10%;
    padding-bottom: 75px;
  }

  .card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 9999;
  }

  .card img:hover {
    opacity: 0.3;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

  }

  .news-update {
    display: block;
    text-align: left;
    height: auto;
  }

  .news-update h2 {

    font-family: 'Source Sans Pro', sans-serif;


  }
  .news-update h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: x-large;
    font-weight: 900;

  }

  .news-container {
    vertical-align: top;
    width: 100%;
    display: inline-block;
  }

  .row-container {
    list-style-type: none;
    text-align: center;
  }

  .row {
    position: relative;
    width: 355px;
    display: inline-block;
    background-color: pink;
    height: 200px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .row img {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .row h2 {
    position: absolute;
    font-size: medium;
    padding: 10px 10px;
    margin: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 50%;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 194, 204, 0.8);
    overflow: scroll;
    /* height: 40%; */
  }

  /* padding: 0 30%; */

  .archive-container {
    display: block;
    width: 100vw;
  }

  .archive-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
  }

  .archived-articles-container {
    width: 100vw;


  }
  .archive-container ul {
    list-style-type: none;
    padding-bottom: 30px;
    text-align: left;
  }

  .archive-container ul li {
    padding-bottom: 10px;
    text-align: center;
  }

  .doc {
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    padding: 50px 20px;
  }

  .article-card {
    height: auto;
    width: 350px;
  }

  .article-card-description {
    width: 310px;
    padding: 5px 0px;
  }

  .article-card-container {
    position: relative;
    vertical-align: middle;
  }



  .doc h2 {
    font-size: medium;
    vertical-align: middle;
    position: absolute;
    top: 0%;
    font-weight: bold;
    background-color: #393045C3;
    padding: 20px 20px;
    margin-top: 0;
    height: 250px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    text-shadow: 0.5px 0.75px #685F74;


  }

  .doc h2 a {
    color: #f2f2f2;
    padding: 5px 0px;

  }

  .doc p {
    position: relative;
    height: fit-content;

  }

  .article-card-img {
    height: 250px;
    object-fit: cover;
  }