{{ partial "header.html" . }}

<div class="archive-container">
  <h1 class="archive-title">The Voices of Amsterdam</h1>
  <div class="archived-articles-container">
<ul>
  {{ with .Site.GetPage "/podcast" }}
  {{ range .Data.Pages.ByDate.Reverse }}
    <li class="doc article-card">
      <div class="article-card-container">
        <img class="article-card-img" src="{{ .Site.BaseURL }}/img/podcast.jpg" style="width:100%">
        <h2 class="article-card-title"><a href="{{ .Permalink }}">Episode {{ .Params.Episode}}:<br>
          {{ .Title }}</a></h2>
        <div class="article-card-description">
          <p>{{ .Date.Format "Monday, Jan 2, 2006"  }}</p>
        </div>
      </div>



    </li>
  {{ end }}

  {{ end }}
  </ul>
  </div>

</div>


{{ partial "footer.html" . }}