<!DOCTYPE html>
<html>
<head>
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(function () {
        $('.navbar-container').hover(function () {
            $('#menu-box').animate({ height: 200 }, 0)
        }, function () {
            $('#menu-box').animate({ height: 0 },200)
        })
    })
</script>
<script>

</script>


<body>
    <header class="navbar-container noselect" onclick="toggleMenu()">
        <div class="navbar">
                <div class="name-container">
                    <a href="{{ .Site.BaseURL }}/index.html">PANDAM</a>
                </div>
                                <!-- <div id="menu-box" class="menu-open">
                    <ul class="menu-list">
                        <li><a href="{{ .Site.BaseURL }}/index.html">HOME</a></li>
                        <li><a href="{{ .Site.BaseURL }}/archive/index.html">News</a></li>
                        <li><a href="{{ .Site.BaseURL }}/blog/index.html">Blog</a></li>
                        <li><a href="{{ .Site.BaseURL }}/about/index.html">About</a></li>
                    </ul>
                </div> -->
                <div class="menu-items-list">
            <div class="menu-item"><a href="{{ .Site.BaseURL }}/index.html">Home</a></div>
            <div class="menu-item"><a href="{{ .Site.BaseURL }}/archive/index.html">News</a></div>
            <div class="menu-item"><a href="{{ .Site.BaseURL }}/blog/index.html">Blog</a></div>
            <div class="menu-item"><a href="{{ .Site.BaseURL }}/about/index.html">About</a></div>
        </div>
        <div>
            <img class="navbar-logo" src="{{ .Site.BaseURL }}/img/logo.jpeg" href="{{ .Site.BaseURL }}/index.html">
        </div>
        </div>

    </header>
    <div class="main">