<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(function () {
        $('.navbar-container').hover(function () {
            $('#menu-box').animate({ height: 150 }, 0)
        }, function () {
            $('#menu-box').animate({ height: 0 },150)
        })
    })
</script>
<script>

</script>


<body>
    <header class="navbar-container noselect" onclick="toggleMenu()">
        <div class="navbar">
            <div>
                <div class="name-container">
                    <h1><a href="{{ .Site.BaseURL }}/posts/index.html">PANDAM</a></h1>
                </div>
            </div>
        </div>
        <div id="menu-box" class="menu-open">
            <ul class="menu-list">
                <li><a href="{{ .Site.BaseURL }}/posts/index.html">HOME</a></li>
                <li><a href="{{ .Site.BaseURL }}/archive/index.html">Archive</a></li>
                <!-- <li><a href="">Archive</a></li> -->
                <li><a href="{{ .Site.BaseURL }}/about/index.html">About</a></li>
            </ul>
        </div>
    </header>
    <div class="main">